/* global */

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}
section{
    margin-top: 40px;
}
.flex-container {
    display: flex;
    width: 90%;
    padding-left: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width p{
    margin-bottom: 50px;
    line-height: 1.5;
}
.button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right,orange, orangered);
    padding: 15px 40px;
    border-radius: 30px;
    letter-spacing: 1px;
}
h1{
    font-size: 40px;
    color: rgba(94, 88, 88, 0.884);
}

/* top banner */
.title-text{
    padding-top: 170px;
    font-weight: 700;
}
.focus-color{
    color: orangered;
}

/* about us */
.about-us{
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.about-flex {
    width: 80%;
    padding: 0 10%;
}
#abt-img{
    width: 70%;
}

.about-text{
    margin-top: 40px;
    margin-right: 30px;
    text-align: justify;
}

/* recipies */
.recipe-head {
    width: 50%;
    padding-left: 25%;
    text-align: center;
}

.card{
    width: 33.3%;
    margin: 25px;
    padding: 20px 20px 0;  
    border-radius: 20px; 
    background-color: white;
    box-shadow: 10px 10px 20px rgb(236, 236, 236);
}

.card img{
    width: 100%;
    height: 55%;
    border-radius:20px;
}

.card p {
    line-height: 1.5;
}

/* showcase */

.showcase {
    margin: 80px 0;
}

.show {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    }

.showcase-items{
    width: 33%;
    padding: 50px 60px;
    line-height: 1.5;
}

.number {
    font-size: 40px;
    font-weight: bold;
}

/* footer */

footer {
    background-color: #161616;
    text-align: center;
    padding: 20px 0 90px;
}

/* social */

.social{
    text-align: center;
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px ;
}

.icons {
    padding: 0 auto;
    padding-bottom: 40px;
}

.icons img {
    width: 35px;
    margin: 0 20px; 
}

/* footer */

footer h1 {
    font-size: 30px;
    line-height: 2;
}

footer p{
    color: white;
    font-size: 12px;
}